### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar

### JDT ###
bin/
.classpath
.project
.settings

### Build ###
build/

### NodeJS ###
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VSCode ###
.vscode
